.d-none.d-lg-block
  - circles.each do |circle|
    .pos-abs.bgc-white.radius-round style="opacity: 0.#{circle[:opacity]};width:#{circle[:size]}px; height:#{circle[:size]}px; top:#{circle[:top]}%; left:#{circle[:left]}%;"
